<div class="input-group mb-3">    
    <input id="InumberOne" type="number" class="form-control" placeholder="NumberOne" aria-label="NumberOne" aria-describedby="basic-addon1">
    <input id="InumberTwo" type="number" class="form-control" placeholder="NumberTwo" aria-label="NumberTwo" aria-describedby="basic-addon1">
  </div>
  <div>
      <h1 appCenter>{{result}}</h1>    
  </div>
  <div  class="btn-group" role="group" aria-label="Operations">
    <button type="summit" class="btn btn-primary" (click)="Suma()">Suma</button>
    <button type="button" class="btn btn-primary" (click)="Resta()">Resta</button>
    <button type="button" class="btn btn-primary" (click)="Division()">Division</button>
    <button type="button" class="btn btn-primary" (click)="Multiplicacion()">Multiplicacion</button>
  </div>